SE42 auction/auctionWebservieClient/src/META-INF/wsdl/localhost_9091/Registration.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="RegistrationService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:9091/Registration?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="cleanDatabase">
<part name="parameters" element="tns:cleanDatabase"></part>
</message>
<message name="cleanDatabaseResponse">
<part name="parameters" element="tns:cleanDatabaseResponse"></part>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"></part>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"></part>
</message>
<message name="compareUser">
<part name="parameters" element="tns:compareUser"></part>
</message>
<message name="compareUserResponse">
<part name="parameters" element="tns:compareUserResponse"></part>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"></part>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"></part>
</message>
<portType name="Registration">
<operation name="cleanDatabase">
<input wsam:Action="http://webservice/Registration/cleanDatabaseRequest" message="tns:cleanDatabase"></input>
<output wsam:Action="http://webservice/Registration/cleanDatabaseResponse" message="tns:cleanDatabaseResponse"></output>
</operation>
<operation name="registerUser">
<input wsam:Action="http://webservice/Registration/registerUserRequest" message="tns:registerUser"></input>
<output wsam:Action="http://webservice/Registration/registerUserResponse" message="tns:registerUserResponse"></output>
</operation>
<operation name="compareUser">
<input wsam:Action="http://webservice/Registration/compareUserRequest" message="tns:compareUser"></input>
<output wsam:Action="http://webservice/Registration/compareUserResponse" message="tns:compareUserResponse"></output>
</operation>
<operation name="getUser">
<input wsam:Action="http://webservice/Registration/getUserRequest" message="tns:getUser"></input>
<output wsam:Action="http://webservice/Registration/getUserResponse" message="tns:getUserResponse"></output>
</operation>
</portType>
<binding name="RegistrationPortBinding" type="tns:Registration">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="cleanDatabase">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="compareUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="RegistrationService">
<port name="RegistrationPort" binding="tns:RegistrationPortBinding">
<soap:address location="http://localhost:9091/Registration"></soap:address>
</port>
</service>
</definitions>